<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CH TOOLS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>
          <p>Name</p>
          <h2>{{ result.name | titlecase }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label>
          <p>Email</p>
          <h2>{{ result.email  }}</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-label>
          <p>Current Plan</p>
          <h2>{{result.package | titlecase}} <span *ngIf="upgrade">(Expired)</span></h2>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="upgrade">
        <ion-label  class="ion-padding-left">
          <p></p>
          <ion-button expand="full" color="primary" [routerLink]="['/home/upgrade']">Upgrade</ion-button>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="freeTrial">
        <ion-label class="ion-padding-left">
          <p></p>
          <ion-button expand="full" color="primary" (click)="freetrial()">Start free Trial</ion-button>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!upgrade" lines="none">
        <ion-icon slot="start" name="timer-outline"></ion-icon>
        <ion-label >
          <p>Expires on</p>
          <h2>{{result.subscription_expiry}} </h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
