<ion-content class="ion-padding">

  <div class="logo">

  </div>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-title>Welcome</ion-card-title> -->
      <ion-card-subtitle class="ion-text-center">Please Sign up with credentials</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form name="form" #registerForm="ngForm" (ngSubmit)="registerForm.valid && onSubmit()">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" name="name" [(ngModel)]="model.name" #name="ngModel"
            [ngClass]="{ 'is-invalid': registerForm.submitted && name.invalid }" required></ion-input>
        </ion-item>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="errors">
          <span *ngIf="name.errors?.required">Name is required</span>
          <!-- <span *ngIf="name.errors?.pattern">Name is invalid</span> -->
        </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" aria-autocomplete="email" autocomplete="email" name="email"
            [(ngModel)]="model.email" #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
            [ngClass]="{ 'is-invalid': registerForm.submitted && email.invalid }" required></ion-input>
        </ion-item>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="errors">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.pattern">Email is invalid</span>
        </div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" type="{{showPass ? 'text' : 'password'}}" minlength="6" name="password"
            autocomplete="password" aria-autocomplete="password" [(ngModel)]="model.password" #password="ngModel"
            [ngClass]="{ 'is-invalid': registerForm.submitted && password.invalid }" required></ion-input>
          <ion-icon size="large" style="margin-top: 16px;" item-end slot="end" name="{{showPass ? 'eye-off' :'eye'}}"
            (click)="showPass=!showPass"></ion-icon>
        </ion-item>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="errors">
          <span *ngIf="password.errors?.minlength">Password cannot be less than 6 characters</span>
          <span *ngIf="password.errors?.required">Password is required</span>
        </div>
        <br>
        <div class="captchaspace">
          <div class="white">
            <ngx-recaptcha2 #captchaElem [siteKey]="'6Lfmwq0aAAAAAESadMQxlzNREQ6LCqbrUCmWWDDd'"
              (success)="handleSuccess($event)" [useGlobalDomain]="false" [size]="size" [hl]="lang" [theme]="theme"
              [type]="type" name="gresponse" [(ngModel)]="model.gresponse" #gresponse="ngModel">
            </ngx-recaptcha2>
          </div>

        </div>

        <ion-button type="submit" [disabled]="!registerForm.valid" expand="full" color="primary">Register</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <h5 class="ion-text-center" style="font-size: .8em !important;">
    <a [routerLink]="['/auth']" routerLinkActive="router-link-active">Sign In</a>
  </h5>
</ion-content>
