ion-content {
  // --background: #f1eee3 !important;
  .logo {
    /* width: 30vh; */
    height: 30vh;
    margin: 0vh auto;
    text-align: center;
    // background-color: black;
    background: url("../../../assets/logo.PNG") 0px 0%/100% 100% no-repeat;
  }
}

// ion-item {
//   margin-bottom: 20px !important;
// }
.errors {
  font-size: small;
  color: red !important;
  // background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
