<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>My Superfans </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="tabbar">
        <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" swipeGesture="true">
          <ion-segment-button value="ch">
            <ion-label>Clubhouse</ion-label>
          </ion-segment-button>
          <ion-segment-button value="gr">
            <ion-label>GreenRoom</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div class="clear"></div>
    </ion-card-header>
    <ion-card-content [ngSwitch]="type">
      <div *ngSwitchCase="'ch'">
        <ion-item
          *ngFor="let item of results| orderBy: key: reverse | paginate: {id: 'pagination1', itemsPerPage:7, currentPage: p}">
          <ion-grid fixed>
            <ion-row (click)="gotoUser(item.user_id)">
              <ion-col size="8">
                <ion-label>
                  <h3>{{ item.name }}</h3>
                  <p>@{{ item.username }}</p>
                  <p *ngIf=" item.instagram !== ''">
                    <ion-icon name="logo-instagram"></ion-icon>
                    {{ item.instagram }}
                  </p>
                  <p *ngIf="item.twitter !== null ">
                    <ion-icon name="logo-twitter"></ion-icon> {{ item.twitter }}
                  </p>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <ion-label>
                  <p>Rooms</p>
                  <h3>{{ item.no_rooms }}</h3>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- </ion-list> -->
        <ion-item class="ion-text-center nocolor">
          <div class="ion-text-center" style="width: 100%">
            <pagination-controls class="my-pagination" id="pagination1" (pageChange)="p = $event" previousLabel=""
              nextLabel="">
            </pagination-controls>
          </div>
        </ion-item>
      </div>

      <div *ngSwitchCase="'gr'">
        <ion-item
          *ngFor="let item of resultsgr| orderBy: key2: reverse2 | paginate: {id: 'pagination2', itemsPerPage:7, currentPage: q}">
          <ion-grid fixed>
            <ion-row (click)="gotoUsergr(item.user_id)">
              <ion-col size="8">
                <ion-label>
                  <h3>{{ item.name }}</h3>
                  <p>@{{ item.username }}</p>
                  <p *ngIf=" item.instagram !== ''">
                    <ion-icon name="logo-instagram"></ion-icon>
                    {{ item.instagram }}
                  </p>
                  <p *ngIf="item.twitter !== null ">
                    <ion-icon name="logo-twitter"></ion-icon> {{ item.twitter }}
                  </p>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <ion-label>
                  <p>Rooms</p>
                  <h3>{{ item.no_rooms }}</h3>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- </ion-list> -->
        <ion-item class="ion-text-center nocolor">
          <div class="ion-text-center" style="width: 100%">
            <pagination-controls class="my-pagination" id="pagination2" (pageChange)="q = $event" previousLabel=""
              nextLabel="">
            </pagination-controls>
          </div>
        </ion-item>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
