<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="support">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="superfans">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Super Fans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" class="home">
      <ion-icon name="home" [class.selected]="!showLabel"></ion-icon>
      <ion-label *ngIf="showLabel">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="toprooms">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Top Rooms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
