ion-tab-button.home {
  --color-selected: var(--ion-color-primary) !important;
}

.selected {
  transition: 0.3s all ease-in-out;
  font-size: 50px !important;
}
// ion-tab-bar {
//   // padding: 5px !important;
//   // margin-top: 10px !important;
//   /* --background: #fff; */
// }

ion-tabs {
  --backgound: var(--ion-background-color, #fff) !important;
  background: var(--ion-background-color, #fff) !important;
}
