<ion-split-pane  contentId="main-content">

  <ion-menu contentId="main-content" menuId="rayo" type="overlay">
    <ion-content>

      <div class="header ion-text-center">
        <!-- <h3>Name Mane</h3>
        <p>email@email.com</p> -->
      </div>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">
          <ion-item (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]" lines="full"
            detail="false" [class.selected]="activeIndex === i">
            <ion-icon slot="start" [ios]="pages.icon + '-outline'" [md]="pages.icon + '-sharp'"></ion-icon>
            <ion-label>{{ pages.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
    <ion-footer>
      <ion-item  lines="full" detail="false" [routerLink]="['/tabs']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>






