p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

ion-item {
  margin-bottom: 10px;
}
p{
  font-size: .8em !important;
  text-transform: capitalize !important;
}
