/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-item,
ion-list {
  // --background: #f1eee3;
  // --border-color: var(--ion-border-color);
  --border-radius: 10px 10px 0 0 !important;
  // --border-width: 1px;
}
ion-item.nocolor {
  --background: #fff;
  --border-radius: 0 0 !important;
}
a {
  text-decoration: none !important;
}
ion-toolbar {
  --min-height: 10vh !important;
  padding: 0 10px;
}

ion-tabs {
  --backgound: var(--ion-background-color) !important;
  background: var(--ion-background-color) !important;
}

ion-segment.data > ion-segment-button.segment-button-checked {
  border-width: 2px !important;
  border-style: solid !important;
  border-color: var(--ion-color-primary) !important;
}
.mt0 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

ion-loading.custom-loading {
  .loading-wrapper {
    background: url("./assets/test.gif") no-repeat center;
    // background: transparent !important;
    box-shadow: none !important;

    background-size: 50px 50px; /* to change dimension of background */
    padding-top: 36px; /* padding top of white square */
    padding-bottom: 36px; /* padding bottom of white square */
    border-radius: 0.8rem; /* border-radius white square */
  }
}
